.navFooter a {
  position: relative;
  margin-left: 20px;
}

.navFooter a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.navFooter a:before {
  content: '';
  position: absolute;
  top: 11px;
  left: -11px;
  display: block;
  width: 2px;
  height: 2px;
  background: #fff;
  border-radius: 100%;
}
.navFooter a:first-of-type:before {
  display: none;
}

@media (max-width: 650px) {
  .navFooter {
    flex-direction: column;
  }

  .navFooter a:first-child {
    margin-left: 0;
  }
}
